* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  background: #3890C0;
  padding-right: 10px;
  padding-left: 10px; }

.navbar {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }
  .navbar .toggle, .navbar .brand {
    display: inline-block; }
  .navbar .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    color: white; }
    .navbar .link:hover, .navbar .link:active {
      background: #0D6997;
      font-weight: 300; }
  .navbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    background: #0D6997;
    color: white; }
  .navbar .toggle {
    padding: 1em;
    color: black;
    vertical-align: middle; }

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #650C5F;
  font-weight: 100;
  font-size: 36px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 28px;
  color: #505050;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter; }
  h2 b {
    font-weight: 500; }

.login-button {
  width: 100%;
  height: 35px;
  background: #650C5F;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none; }

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px; }

h4 {
  font-size: 14px;
  color: #505050;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h5 {
  font-size: 14px;
  color: #650C5F;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.well {
  background: #BCD7C4;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px; }

img.mobilephone {
  float: right;
  margin-top: -150px; }

.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal-backdrop .modal {
    width: 448px;
    height: 272px;
    background: #FFFFFF;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px #333;
    padding: 10px; }
    .modal-backdrop .modal h1 {
      color: #505050;
      float: left; }
    .modal-backdrop .modal .modal-close {
      float: right;
      color: #0D6997;
      background: transparent;
      border: none;
      font-size: 16px; }
    .modal-backdrop .modal .login-submit {
      width: 140px;
      height: 35px;
      background: #650C5F;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      border: none;
      float: right;
      margin-top: 30px; }
    .modal-backdrop .modal .form-spacer {
      height: 50px; }
    .modal-backdrop .modal .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 30px; }
      .modal-backdrop .modal .row .label {
        width: 20%;
        text-align: right;
        font-size: 14px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        align-self: center; }
      .modal-backdrop .modal .row .field-spacer {
        width: 5%; }
      .modal-backdrop .modal .row .field {
        width: 75%;
        text-align: left; }
        .modal-backdrop .modal .row .field .form-field {
          height: 35px;
          font-size: 30px;
          border: 2px solid #0D6997; }

@media (min-width: 960px) {
  footer {
    width: 100%;
    height: 100px;
    background: #E7E8E9;
    margin-top: 20px;
    display: flex;
    flex-direction: row; }
    footer .container {
      max-width: 940px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      footer .container .copytext {
        float: left;
        width: 50%;
        color: #0D6997;
        padding: 10px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
      footer .container .links {
        float: left;
        width: 50%;
        color: #0D6997;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
        footer .container .links ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          justify-content: center;
          align-content: center; }
          footer .container .links ul li {
            padding-left: 35px;
            float: right; }
            footer .container .links ul li a:link, footer .container .links ul li a:visited {
              color: #3890C0;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              text-decoration: none; }
            footer .container .links ul li a:active, footer .container .links ul li a:hover {
              color: #0D6997;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              text-decoration: none; }

  section {
    width: 100%;
    height: auto;
    display: flex; }
    section .page {
      max-width: 940px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 35px;
      display: flex;
      flex-direction: row; }
      section .page .column.md {
        float: left;
        width: 75%;
        padding-right: 20px; }
        section .page .column.md ul li {
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 14px; }
      section .page .column.sm {
        float: left;
        width: 25%; }
        section .page .column.sm .tabcon {
          margin-top: 20px; }
          section .page .column.sm .tabcon .tabs {
            display: flex; }
            section .page .column.sm .tabcon .tabs .tab {
              cursor: pointer;
              width: auto;
              height: 32px;
              background: #DDEBE1;
              align-self: flex-end;
              border-right: #CBCBCB 1px solid;
              border-top: #CBCBCB 1px solid;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              font-size: 18px;
              color: #0D6997;
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 5px; }
            section .page .column.sm .tabcon .tabs .tab.active {
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              font-size: 18px;
              color: #505050;
              background: #F5F5F5;
              border-right: #CBCBCB 1px solid;
              border-top: #CBCBCB 1px solid;
              height: 40px;
              padding-top: 12px;
              width: auto;
              align-self: flex-end;
              padding-left: 10px;
              padding-right: 10px; }
          section .page .column.sm .tabcon .content {
            display: none; }
          section .page .column.sm .tabcon .content.active {
            display: block;
            background: #F5F5F5;
            border-top: #CBCBCB 1px solid;
            margin-top: -1px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 8px; }
            section .page .column.sm .tabcon .content.active h4 {
              font-size: 14px;
              color: #0D6997;
              font-weight: bold;
              font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; } }
.rates-table {
  display: flex;
  flex-direction: column; }
  .rates-table .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 20px; }
    .rates-table .header .cell.left {
      text-align: left; }
    .rates-table .header .cell.right {
      text-align: right; }
    .rates-table .header .cell {
      width: 33%;
      font-size: 12px;
      color: #505050;
      font-weight: lighter;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .rates-table .entry:first-child {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px !important;
    font-weight: 800 !important; }
  .rates-table .entry:nth-child(even) {
    background: #BCD7C4; }
  .rates-table .entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #DDEBE1; }
    .rates-table .entry .cell.left {
      text-align: left; }
    .rates-table .entry .cell.right {
      text-align: right; }
    .rates-table .entry .cell {
      width: 33%;
      font-size: 16px;
      color: #505050;
      font-weight: lighter;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      padding: 15px;
      border-bottom: 1px solid #BCD7C4; }

@media (max-width: 960px) {
  img.mobilephone {
    float: right;
    margin-top: -45px; }

  footer {
    width: 100%;
    height: 100px;
    background: #E7E8E9;
    margin-top: 20px;
    display: flex;
    flex-direction: row; }
    footer .container {
      max-width: 940px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      footer .container .copytext {
        float: left;
        width: 100%;
        color: #0D6997;
        padding: 10px;
        text-align: center;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
      footer .container .links {
        display: none; }

  section .page .column.md {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px; }
    section .page .column.md ul li {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 14px; }
  section .page .column.sm {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px; }
    section .page .column.sm .tabcon {
      margin-top: 20px; }
      section .page .column.sm .tabcon .tabs {
        display: flex; }
        section .page .column.sm .tabcon .tabs .tab {
          cursor: pointer;
          width: auto;
          height: 32px;
          background: #DDEBE1;
          align-self: flex-end;
          border-right: #CBCBCB 1px solid;
          border-top: #CBCBCB 1px solid;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 18px;
          color: #0D6997;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px; }
        section .page .column.sm .tabcon .tabs .tab.active {
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 18px;
          color: #505050;
          background: #F5F5F5;
          border-right: #CBCBCB 1px solid;
          border-top: #CBCBCB 1px solid;
          height: 40px;
          padding-top: 12px;
          width: auto;
          align-self: flex-end;
          padding-left: 10px;
          padding-right: 10px; }
      section .page .column.sm .tabcon .content {
        display: none; }
      section .page .column.sm .tabcon .content.active {
        display: block;
        background: #F5F5F5;
        border-top: #CBCBCB 1px solid;
        margin-top: -1px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 8px; }
        section .page .column.sm .tabcon .content.active h4 {
          font-size: 14px;
          color: #0D6997;
          font-weight: bold;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; } }
@media (min-width: 960px) {
  .navbar {
    display: flex; }
    .navbar .left, .navbar .right {
      display: flex;
      flex: 1; }
    .navbar .link {
      width: auto; }
    .navbar .right {
      justify-content: flex-end; }
    .navbar .toggle {
      display: none; } }
.navbar div {
  display: none; }
  @media (min-width: 48em) {
    .navbar div {
      display: flex; } }

@media (max-width: 960px) {
  .navbar.active .toggle {
    color: white; }
  .navbar.active div {
    display: block; } }

/*# sourceMappingURL=style.css.map */
